body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: aliceblue;
}
.navbar {
  background-color: #222;
  padding: 0em
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  display: inline-block;
  margin: 1em;
}

.navbar a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  font-size: 1.2em;
  padding: .7em;
  border-radius: 20px; 
}

.navbar a:hover {
  background-color: #4caf50;
  color:#222;
}

h1 {
  text-align: center;
}

/* Reference: Shraddha. (2022, October 18). How to Place HTML Div Side by Side. Delft Stack. https://www.delftstack.com/howto/html/html-divs-side-by-side/ */


.flex-parent {
  display: flex;
  padding: 10px;
  gap: 10px;
  max-width: 900px;
  margin: 0 auto;
}

.flex-child {
  flex: 1;
  padding: 10px;
  border: 1px solid black;
  box-sizing: border-box;
}

.center-text {
   text-align: center;
}

.center-text p {
  font-size: 1.3em;
  line-height: 1;;
}
.center-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

figcaption {
  text-align: center;
  font-style: italic;
  color: black;
  padding: 5px;
}

blockquote {
  font-style: italic;
  font-size: 1.5em;
  margin: 1em 0;
  text-align: center;
}

.quoteauthor {
  padding-left: 70%;
  font-style: italic;
}


/*Reference: W3schools. (2019). HTML article Tag. W3schools.com. https://www.w3schools.com/TAGS/tag_article.asp */

.all-articles {
  margin: 0;
  padding: 20px;
  background-color: #B3FFb3;
}

.all-articles h2, .article {
  margin: 20px;
  padding: 5px;
}

.article {
  background:  #E0FFE0;
}

.article h3, p {
  margin: 15px;
}

.article img {
  display: block;
  max-width: 45%;
  height: auto;
}

.center-img-b {
  display: block;
  max-width: 50%;
  max-height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

.all-articles-b {
  margin: 0;
  padding: 20px;
  background-color: #E0FFE0;
  border: 1px solid black;
}

.all-articles-b h2, .article {
  margin: 20px;
  padding: 5px;
}

.article-b {
  background: #B3FFb3;
  border: 1px solid black;
}

.article-b h3, p {
  margin: 15px;
  padding: 1%
}

hr {
  margin: 3%;
  visibility: hidden;
}

.hr-alt {
  margin:1%
}

table {
  width: 100%;
}

table, th, td {  
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #B3FFb3;
}

tr:nth-child(odd) {
  background-color: #E0FFE0;
}

.arrow-d {
  display:block;
  text-align:center;
}



