body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar {
  background-color: #222;
  padding: .em 0;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  display: inline-block;
  margin: 1em;
}

.navbar a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  font-size: 1.2em;
  padding: .7em;
  border-radius: 20px;
}

.navbar a:hover {
  background-color: #4caf50;
  color:#222;
}