
/*Sets the font family and background color for content placed in the body of the text */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f7fafd;
  color: #2c3e50
}

/*Navbar class that sets background color */
.navbar {
  background-color: #222;
  padding: 0em
}

/*Navbar style to unordered lists that uses flexbox to center content*/
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Makes list items display inline with the navbar w/ a slight margin */
.navbar li {
  display: inline-block;
  margin: 1em;
}

/*Styles content contained in the navbar */
.navbar a {
  text-decoration: none;
  color: #f6fff6;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.4em 0.8em;
  border-radius: 8px; 
  display: inline;
  white-space: nowrap;
}

/*Keeps the navbar color then same after visiting a link*/
.navbar a:visited {
  color:#f6fff6
}

/*Changes hover behavior when hovering over elements in the navbar*/
.navbar a:hover {
  background-color: #d4f5d0;
  color:#222;
}

/*Makes heading 1 text align center*/
h1 {
  text-align: center;
}


/*Reference: Shraddha. (2022, October 18). How to Place HTML Div Side by Side. Delft Stack. https://www.delftstack.com/howto/html/html-divs-side-by-side/ */
/*Flexbox container: includes margins, padding, and a width limit*/
.flex-parent {
  display: flex;
  align-items: stretch;
  padding: 10px;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

/*Each child container will be proportionate to one another*/
.flex-child {
  background-color:#e6f0f5;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em;
  border: 1px solid #bfd5e1;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba (0,0,0,0.05);
}


/*Class that centers text*/
.center-text {
   text-align: center;
}

/*Changes the size of paragraph text used with the center-text class*/
.center-text p {
  font-size: 1.3em;
  line-height: 1.3;;
}

/*Image class that centers images and provides a responsive design; images will scale with container*/
.center-img {
  display: block;
  max-width: 100%;
  height:auto;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  
}

/*Styles the figcaption: aligns text, changes font style, adds padding*/
figcaption {
  text-align: center;
  font-style: italic;
  color: black;
  padding: 5px;
}

/*Styles the blockquote element*/
blockquote {
  font-style: italic;
  font-size: 1.5em;
  margin: 1em 0;
  text-align: center;
  display: block;
}

.quoteauthor-container {
  background-color: #d4e4ec;
  padding: 1.5em 2em;
  border-radius: 10px;
  max-width: 700px;
  margin: 2em auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1)
}

/*Caption class that displays caption to the right of content*/
.quoteauthor {
  display: block;
  padding-top: 0.5em;
  text-align: right;
  font-style: italic;
}

caption {
  font-weight: bold;
}


/*Reference: W3schools. (2019). HTML article Tag. W3schools.com. https://www.w3schools.com/TAGS/tag_article.asp */

/*Creates an article container with padding*/
.all-articles {
  margin: 0;
  padding: 20px;
  background-color: #B3FFb3;
}

/*Heading 2 and the article class will have margins and padding*/
.all-articles h2, .article {
  margin: 20px;
  padding: 5px;
}

/*Applies a background to the article class*/
.article {
  background:  #E0FFE0;
  border: 2px solid green;
  border-radius: 10px;
}

/*Adds a margin for heading 3 and paragraph text in the article class*/
.article h3, p {
  margin: 15px;
  line-height: 1.3em;
}

/*Images in the article class will display responsively with content*/
.article img {
  display: block;
  max-width: 45%;
  height: auto;
}

/*Alternate center img class*/
.center-img-b {
  display: block;
  max-width: 50%;
  max-height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

/*An alternate style to the all-articles class*/
.all-articles-b {
  margin: 0;
  padding: 20px;
  background-color: #E0FFE0;
  border: 1px solid black;
}

/*An alternate style to the all-articles class*/
.all-articles-b h2, .article {
  margin: 20px;
  padding: 5px;
}

/*An alternate style to the articles class*/
.article-b {
  background: #B3FFb3;
  border: 1px solid black;
  border-radius: 10px;
}


/*An alternate style to the articles class*/
.article-b h3, p {
  margin: 15px;
  padding: 1%
}

/*Adds styling to the horizontal break element: applies a margin and makes line invisible*/
hr {
  margin: 3%;
  visibility: hidden;
}

/*Alternate style to hr class, mostly used for testing spacing*/
.hr-alt {
  margin:1%;
  visibility: hidden;
}

/*styles the table element to take up the width of the page*/
table {
  width: 100%;
}

/*Applies a border to the table, table headings, and table data*/
table, th, td {  
  border: 1px solid black;
}

/*Changes the background color of table rows*/
tr:nth-child(even) {
  background-color: #B3FFb3;
}

/*Changes the background color of table rows*/
tr:nth-child(odd) {
  background-color: #E0FFE0;
}

/*Arrow class that centers and aligns a unicode arrow charecter*/
.arrow-d {
  display:block;
  text-align:center;
}

/*Aternate style to list class*/
.li-alt {
  padding: 2%
}

/*Changes the color of visited links*/
a:visited {
  color: darkgreen;
}

/*Changes the color of hovering over a link*/
a:hover {
  color:aqua;
}

/*Creates a rounded container for quiz questions */
.question {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px auto;
  margin: 20px auto;
}

/*Classes that have different background colors*/
.color1 {
  background: #9aff9a;
}

.color2 {
  background:#B3FFb3; 
}

.color3 {
  background:#E0FFE0; 
}

/* Styles the browser form element*/
#browserQuiz {

  
  color: black;
  padding: 20px;
  font-size: 1.2em;
  margin: 10px auto;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/*Styles paragraph text in browserQuiz*/
#browserQuiz p {

  font-weight: bold;
  color: black;
  margin-top: 20;
  margin-bottom: 10;

}

/*Styles labels in browserQuiz*/
#browserQuiz label {
  display: block;
  color: black;
  font-size: 1.1em;
  margin: 10px auto;
  cursor: pointer
}

#browserQuiz label:hover {
  background-color: aliceblue;
}

/*Styles input text in browserQuiz*/
#browserQuiz input[type="text"] {
  display:block;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 4px;

}

/*Styles radio buttons in browserQuiz*/
#browserQuiz input[type="radio"] {
  margin-left: 2%;
}

/*Styles checkboxe buttons in browserQuiz*/
#browserQuiz input[type="checkbox"] {
  margin-left: 2%;
}

/*Styles buttons in browserQuiz*/
#browserQuiz button {
  display: flex;
  justify-content: center;
  background: #B3FFb3;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px auto;
  font-size: 1.2em;
  margin: 10px auto;
  cursor: pointer;
}

/*Adds hover effect to buttons*/
#browserQuiz button:hover {
  background: #E0FFE0;
}

/*Styles result display*/
#result {
  font-size: 2em;
  color: black;
  margin: 20px auto;
  font-weight: bold;;
}

/*Styles images set as header elements*/
.center-header {
  display: block;
  margin: 0 auto;
  height: 5em;
  width: auto;
  max-width: 100%
}

/*Styles the footer */
footer {
  background-color: #222;
  color: aliceblue;
  text-align: center;
  bottom: 0;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  background: transparent
}

.video-container iframe {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  border: none;
  display: block;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08); 

}